<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>svg</title>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/echarts.js"></script>
</head>
<script type="text/javascript">
    $(function () {
        const list = ['PD_11100000', 'PD_11400000', 'PD_30500000', 'PD_11500000', 'PD_11500001', 'PD_11500002', 'PD_30900000', 'PD_30900002', 'PD_11200000', 'PD_30700000', 'PD_11000000', 'PD_11000001', 'PD_11000002', 'PD_30100002', 'PD_30200002', 'PD_30200003', 'PD_30200004', 'PD_30300000'];
        const ROOT_PATH = 'https://cdn.jsdelivr.net/gh/apache/echarts-website@asf-site/examples';
        const chartDom = document.getElementById('main');
        const myChart = echarts.init(chartDom);
        let option;
        myChart.showLoading();
        $.get('/treeData', function (result) {
            const data = JSON.parse(result);
            myChart.hideLoading();

            myChart.setOption(
                (option = {
                    tooltip: {
                        trigger: 'item',
                        formatter: function (data) {
                            return data.data.name;
                        },
                        triggerOn: 'mousemove'
                    },
                    series: [
                        {
                            type: 'tree',
                            data: [data],
                            top: '1%',
                            left: '5%',
                            bottom: '1%',
                            right: '5%',
                            symbolSize: (data, param) => {
                                let da = param.data.value ? param.data.value.split('_')[0] + '_' + param.data.value.split('_')[1] : "";

                                if (list.includes(da) && param.data.name != "TERMINAL") {
                                    return 7;
                                } else {
                                    return 0;
                                }
                            },
                            label: {
                                position: 'left',
                                verticalAlign: 'middle',
                                align: 'right',
                                fontSize: 9,
                                formatter: function (param) {
                                    let da = param.data.value ? param.data.value.split('_')[0] + '_' + param.data.value.split('_')[1] : "";
                                    if (list.includes(da) && param.data.name != "TERMINAL") {
                                        return param.data.name;
                                    } else {
                                        return "";
                                    }
                                }
                            },
                            leaves: {
                                label: {
                                    position: 'right',
                                    verticalAlign: 'middle',
                                    align: 'left'
                                }
                            },
                            emphasis: {
                                focus: 'descendant'
                            },
                            expandAndCollapse: true,
                            animationDuration: 550,
                            animationDurationUpdate: 750
                        }
                    ]
                })
            );
        });
        option && myChart.setOption(option);

    })

</script>
<style type="text/css">
    body {
        margin: 0;
        padding: 0;
    }
</style>
<body>
<div id="main" style="height: 100vh;width: 100vw;"></div>
</body>
</html>