<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>svg</title>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/echarts.js"></script>
</head>
<style type="text/css">
    body {
        margin: 0;
        padding: 0;
    }
</style>
<body>
<input type="text" id="xmlSrc">
<button onclick="show(this)">单线详图</button>
<button onclick="show(this,'treeData12')">举例环网详图</button>
<button onclick="openSvg()">SVG图</button>
<button><a id="download" href="">下载当前简图</a></button>
<input type="hidden" id="fileName">
<div id="main" style="height: 94vh;width: 99vw;margin:10px;background-color: #000000"></div>
</body>
<script type="text/javascript">

    function show(obj, num) {
        let url = num ? num : '/treeData/';
        num = num ?   num : $("#xmlSrc").val();
        url = url + num;
        $('#fileName').val($(obj).text());
        var list = ['PD_11100000', 'PD_11400000', 'PD_30500000', 'PD_11500000', 'PD_11500001', 'PD_11500002', 'PD_30900000', 'PD_30900002', 'PD_11200000', 'PD_30700000', 'PD_11000000', 'PD_11000001', 'PD_11000002', 'PD_30100002', 'PD_30200002', 'PD_30200003', 'PD_30200004', 'PD_30300000'];
        var chartDom = document.getElementById('main');
        var myChart = echarts.init(chartDom, null, {renderer: 'svg'});
        let option;
        myChart.showLoading();
        $.get(url, function (data) {
            console.log(data)
            myChart.hideLoading();
            myChart.setOption(
                (option = {
                    tooltip: {
                        trigger: 'item',
                        formatter: function (data) {
                            return data.data.name;
                        },
                        triggerOn: 'mousemove'
                    },
                    series: [
                        {
                            type: 'tree',
                            data: [data],
                            top: '1%',
                            left: '1%',
                            bottom: '1%',
                            right: '1%',
                            initialTreeDepth: 40,
                            symbolSize: (data, param) => {
                                let da = param.data.value ? param.data.value.split('_')[0] + '_' + param.data.value.split('_')[1] : "";
                                if (list.includes(da) && param.data.name != "TERMINAL") {
                                    return 10;
                                } else {
                                    return 10;
                                }
                            },
                            label: {
                                position: 'left',
                                verticalAlign: 'top',
                                align: 'right',
                                fontSize: 12,
                                color: '#FFFFFF',
                                formatter: function (param) {
                                    let da = param.data.value ? param.data.value.split('_')[0] + '_' + param.data.value.split('_')[1] : "";
                                    //if (list.includes(da) && param.data.name != "TERMINAL") {
                                    if (param.data.name != "TERMINAL") {
                                        return param.data.type + '_#_' + param.data.containerName + '_#_' + param.data.name;
                                    } else {
                                        return "";
                                    }
                                }
                            },
                            leaves: {
                                label: {
                                    position: 'right',
                                    verticalAlign: 'middle',
                                    align: 'left'
                                }
                            },
                            emphasis: {
                                focus: 'descendant'
                            },
                            expandAndCollapse: true,
                            animationDuration: 550,
                            animationDurationUpdate: 750
                        }
                    ]
                })
            );
        });
        option && myChart.setOption(option);
    }

    function openSvg() {
        url = $("#xmlSrc").val()
        window.open('/i/' + url)
    }

    const download = window.document.querySelector('#download')
    download.addEventListener('click', () => {
        const content = document.querySelector('svg').outerHTML
        const blob = new Blob([content], {type: 'xml/svg'})
        download.href = URL.createObjectURL(blob)
        download.download = $('#fileName').val() + '.svg';
    })

</script>
</html>
